<footer class="bg-light text-center text-lg-start border-top mt-4 ">
<divc class="f-info"> 
  <div class="f-info-social">
    <a href="#"><i class="fa-brands fa-square-facebook "></i></a>
    <a href="#"><i class="fa-brands fa-twitter "></i></a>
    <a href="#"><i class="fa-brands fa-instagram "></i></a>
    <a href="#"><i class="fa-brands fa-linkedin "></i></a>

  </div>
  <div class="f-info-brand"> &copy; WanderLust Private Limited &nbsp; &nbsp;</div>
<div class="f-info-links">
<a href="#">About Us</a>&nbsp;
<a href="#">Contact</a>&nbsp;
<a href="/privacy">Privacy Policy</a>&nbsp;
<a href="/terms">Terms of Service</a>
</div>
</div>




    </footer>