<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New List</title>
</head> -->
<% layout('layouts/boilerplate') %>
<body>
    <br>
    <h3 style="text-align: center;"> <b>Create new List</b></h3>

    <div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="POST" action="/listings/new">

       <div class="mb-3">
         <label for="Title" class="form-label">Title:</label><br/>
        <input type="text" name="listing[title]" placeholder="Add catchy Title" class="form-control"/>
       </div>
     
      
     
    <div class="mb-3">
          <label for="Image URL" class="form-label">Image URL:</label><br/>
        <input type="text" name="listing[imageUrl]" placeholder="Image URL" class="form-control"/>
    </div>
   
    <div class="mb-3">
        <label for="Description" class="form-label">Description:</label><br/>
        <textarea name="listing[description]" placeholder="Description" class="form-control"></textarea>
    </div>
   
    <div class="row">
        <div class="mb-3 col-md-4">
        <label for="Price" class="form-label">Price:</label><br/>
        <input type="number" name="listing[price]" placeholder="1200" class="form-control"/>
    </div>
    <div class="mb-3 col-md-8">
        <label for="Country" class="form-label">Country:</label><br/>
       <input type="text" name="listing[country]" placeholder="india" class="form-control"/>
    </div>
    </div>
    <div class="mb-3">
         <label for="Location" class="form-label">Location:</label><br/>
        <input type="text" name="listing[location]" placeholder="Bengaluru,Hyderabad etc" class="form-control"/>
      </div>
      <br>
   
        <button type="submit" class="btn btn-dark add-btn">Create Listing</button>
    </form>
    </div>
    </div>
</body>
<!-- </html> -->